# Web Scraping Lab

Objectives
After completing this lab you will be:

Familiar with the basics of the BeautifulSoup Python library
Be able to scrape webpages for data and filter the data

# Table of Contents

Beautiful Soup Object
Tag
Children, Parents, and Siblings
HTML Attributes
Navigable String
Filter
find All
find
HTML Attributes
Navigable String
Downloading And Scraping The Contents Of A Web

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!pip install bs4
!pip install requests pandas html5lib 
!pip install lxml

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Installing collected packages: bs4
Successfully installed bs4-0.0.2
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: html5lib in c:\users\lenovo\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: webencodings in c:\users\lenovo\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from html5lib) (1.16.0)

In [3]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

# EXAMPLE

In [ ]:
# BeautifulSoup: BeautifulSoup is a Python library used for web scraping purposes to pull the data out of HTML and XML files. 
# It creates a parse tree from page source code that can be used to extract data in a hierarchical and more readable manner.

In [ ]:
URL = "http://www.example.com"

page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
# Scrapy: Scrapy is an open-source and collaborative web crawling framework for Python. 
# It is used to extract the data from the website.

In [ ]:
import scrapy

class QuotesSpider(scrapy.Spider):
    
    name = "quotes"
    
    start_urls = ['http://quotes.toscrape.com/tag/humor/',]
    
    def parse(self, response):
        
        for quote in response.css('div.quote'):
            
            yield {'quote': quote.css('span.text::text').get()}

In [ ]:
# Selenium: Selenium is a tool used for controlling web browsers through programs and automating browser tasks.

In [ ]:
from selenium import webdriver

driver = webdriver.Firefox()

driver.get("http://www.example.com")

# Beautiful Soup Objects

Beautiful Soup is a Python library for pulling data out of HTML and XML files, we will focus on HTML files. This is accomplished by representing the HTML as a set of objects with methods used to parse the HTML. We can navigate the HTML as a tree, and/or filter out what we are looking for.

Consider the following HTML:

In [ ]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

We can store it as a string in the variable HTML:

In [3]:
html = "<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

To parse a document, pass it into the BeautifulSoup constructor. The BeautifulSoup object represents the document as a nested data structure:

In [4]:
soup = BeautifulSoup(html, 'html5lib')

# soup = BeautifulSoup(html, 'lxml') BU DA OLABİLİRDİ
# soup = BeautifulSoup(html, 'html.parser') BU DA OLABİLİRDİ

First, the document is converted to Unicode (similar to ASCII) and HTML entities are converted to Unicode characters. Beautiful Soup transforms a complex HTML document into a complex tree of Python objects. The BeautifulSoup object can create other types of objects. In this lab, we will cover BeautifulSoup and Tag objects, that for the purposes of this lab are identical. Finally, we will look at NavigableString objects.

We can use the method prettify() to display the HTML in the nested structure:

In [5]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

# Tags
Let's say we want the title of the page and the name of the top paid player. We can use the Tag. The Tag object corresponds to an HTML tag in the original document, for example, the tag title.

In [6]:
tag_object = soup.title

print("tag object:", tag_object)

tag object: <title>Page Title</title>

we can see the tag type bs4.element.Tag

In [7]:
print("tag object type:", type(tag_object))

tag object type: <class 'bs4.element.Tag'>

If there is more than one Tag with the same name, the first element with that Tag name is called. This corresponds to the most paid player:

In [8]:
tag_object = soup.h3

tag_object

Enclosed in the bold attribute b, it helps to use the tree representation. We can navigate down the tree using the child attribute to get the name.

# Children, Parents, and Siblings

As stated above, the Tag object is a tree of objects. We can access the child of the tag or navigate down the branch as follows:

In [9]:
tag_child = tag_object.b

tag_child

You can access the parent with the  parent

In [10]:
parent_tag = tag_child.parent
parent_tag

this is identical to:

In [11]:
tag_object

tag_object parent is the body element.

In [12]:
tag_object.parent

tag_object sibling is the paragraph element

In [13]:
sibling_1 = tag_object.next_sibling

sibling_1

sibling_2 is the header element, which is also a sibling of both sibling_1 and tag_object

In [14]:
sibling_2 = sibling_1.next_sibling
sibling_2

# Exercise: next_sibling

Use the object sibling_2 and the method next_sibling to find the salary of Stephen Curry:

In [15]:
sibling_3 = sibling_2.next_sibling
sibling_3

# HTML Attributes

If the tag has attributes, the tag id="boldest" has an attribute id whose value is boldest. You can access a tag’s attributes by treating the tag like a dictionary:

In [16]:
tag_child['id']

'boldest'

You can access that dictionary directly as attrs:

In [17]:
tag_child.attrs

{'id': 'boldest'}

You can also work with Multi-valued attributes. Check out [1] for more.

We can also obtain the content of the attribute of the tag using the Python get() method.

In [18]:
tag_child.get('id')

'boldest'

# Navigable String

A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the NavigableString class to contain this text. In our HTML we can obtain the name of the first player by extracting the string of the Tag object tag_child as follows:

In [19]:
tag_string = tag_child.string

tag_string

'Lebron James'

we can verify the type is Navigable String

In [20]:
type(tag_string)

bs4.element.NavigableString

A NavigableString is similar to a Python string or Unicode string. To be more precise, the main difference is that it also supports some BeautifulSoup features. We can convert it to string object in Python:

In [21]:
unicode_string = str(tag_string)

unicode_string

'Lebron James'

# Filter

Filters allow you to find complex patterns, the simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string. Consider the following HTML of rocket launches:

In [ ]:
%%html
<table>
  <tr>
    <td id = 'flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href = 'https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href = 'https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href = 'https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

We can store it as a string in the variable table:

In [22]:
table = "<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [23]:
table_bs = BeautifulSoup(table, 'html5lib')

# find All

The find_all() method looks through a tag’s descendants and retrieves all descendants that match your filters.

The Method signature for find_all(name, attrs, recursive, string, limit, **kwargs)

# Name
When we set the name parameter to a tag name, the method will extract all the tags with that name and its children.

In [24]:
table_rows = table_bs.find_all('tr')

table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

The result is a Python Iterable just like a list, each element is a tag object:

In [25]:
first_row = table_rows[0]

first_row

The type is tag

In [26]:
print(type(first_row))

<class 'bs4.element.Tag'>

we can obtain the child

In [27]:
first_row.td

If we iterate through the list, each element corresponds to a row in the table:

In [28]:
for i, row in enumerate(table_rows):
    
    print("row", i, "is", row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>

As row is a cell object, we can apply the method find_all to it and extract table cells in the object cells using the tag td, this is all the children with the name td. The result is a list, each element corresponds to a cell and is a Tag object, we can iterate through this list as well. We can extract the content using the string attribute.

In [29]:
for i, row in enumerate(table_rows):
    
    print("row",i)
    
    cells = row.find_all('td')
    
    for j, cell in enumerate(cells):
        
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
colunm 2 cell <td>80 kg</td>

If we use a list we can match against any item in that list.

In [31]:
list_input = table_bs.find_all(name = ["tr", "td"])

list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <td>80 kg</td>]

# Attributes

If the argument is not recognized it will be turned into a filter on the tag’s attributes. For example with the id argument, Beautiful Soup will filter against each tag’s id attribute. For example, the first td elements have a value of id of flight, therefore we can filter based on that id value.

In [32]:
table_bs.find_all(id = "flight")

We can find all the elements that have links to the Florida Wikipedia page:

In [33]:
list_input = table_bs.find_all(href = "https://en.wikipedia.org/wiki/Florida")

list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

If we set the href attribute to True, regardless of what the value is, the code finds all tags with href value:

In [34]:
table_bs.find_all(href = True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

There are other methods for dealing with attributes and other related methods. Check out the following link:
https://www.crummy.com/software/BeautifulSoup/bs4/doc/#css-selectors

# Exercise: find_all
Using the logic above, find all the elements without href value

In [35]:
table_bs.find_all(href = False)

[<html><head></head><body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body></html>,
 <head></head>,
 <body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body>,
 <table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table>,
 <tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody>,
 <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <a></a>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <a> </a>,
 <td>80 kg</td>]

Using the soup object soup, find the element with the id attribute content set to "boldest".

In [36]:
soup.find_all(id = "boldest")

string
With string you can search for strings instead of tags, where we find all the elments with Florida:

In [37]:
table_bs.find_all(string = "Florida")

['Florida', 'Florida']

# find

The find_all() method scans the entire document looking for results. It’s useful if you are looking for one element, as you can use the find() method to find the first element in the document. Consider the following two tables:

In [ ]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class = 'rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class = 'pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

We store the HTML as a Python string and assign two_tables:

In [38]:
two_tables = "<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

We create a BeautifulSoup object two_tables_bs

In [39]:
two_tables_bs = BeautifulSoup(two_tables, 'html.parser')

We can find the first table using the tag name table

In [40]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

We can filter on the class attribute to find the second table, but because class is a keyword in Python, we add an underscore to differentiate them.

In [41]:
two_tables_bs.find("table", class_ = 'pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

# Downloading And Scraping The Contents Of A Web Page

We Download the contents of the web page:

In [42]:
url = "http://www.ibm.com"

We use get to download the contents of the webpage in text format and store in a variable called data:

In [43]:
data  = requests.get(url).text

We create a BeautifulSoup object using the BeautifulSoup constructor

In [44]:
soup = BeautifulSoup(data, "html5lib")  # create a soup object using the variable 'data'

Scrape all links

In [46]:
for link in soup.find_all('a', href = True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

https://www.ibm.com/granite?lnk=dev
https://developer.ibm.com/technologies/artificial-intelligence?lnk=dev
https://www.ibm.com/products/watsonx-code-assistant?lnk=dev
https://www.ibm.com/watsonx/developer/?lnk=dev
https://www.ibm.com/thought-leadership/institute-business-value/report/ceo-generative-ai?lnk=bus
https://www.ibm.com/think/reports/ai-in-action?lnk=bus
https://www.ibm.com/impact/ai-ethics?lnk=bus
https://www.ibm.com/account/reg/signup?formid=news-urx-52954&lnk=bus
https://www.ibm.com/artificial-intelligence?lnk=ProdC
https://www.ibm.com/hybrid-cloud?lnk=ProdC
https://www.ibm.com/consulting?lnk=ProdC

# Scrape all images Tags

In [48]:
for link in soup.find_all('img'):     # in html image is represented by the tag <img>
    
    print(link)
    
    print(link.get('src'))

# Scrape data from HTML tables

In [1]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

Before proceeding to scrape a web site, you need to examine the contents and the way data is organized on the website. Open the above url in your browser and check how many rows and columns there are in the color table.

In [4]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [8]:
soup = BeautifulSoup(data, "html5lib")

In [11]:
print(soup.prettify())

<html>
 <head>
 </head>
 <body>
  <h1>
   Partital List  of HTML5 Supported Colors
  </h1>
  <table border="1" class="main-table">
   <tbody>
    <tr>
     <td>
      Number
     </td>
     <td>
      Color
     </td>
     <td>
      Color Name
     </td>
     <td>
      Hex Code
      <br/>
      #RRGGBB
     </td>
     <td>
      Decimal Code
      <br/>
      (R,G,B)
     </td>
    </tr>
    <tr>
     <td>
      1
     </td>
     <td style="background:lightsalmon;">
     </td>
     <td>
      lightsalmon
     </td>
     <td>
      #FFA07A
     </td>
     <td>
      rgb(255,160,122)
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td style="background:salmon;">
     </td>
     <td>
      salmon
     </td>
     <td>
      #FA8072
     </td>
     <td>
      rgb(250,128,114)
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td style="background:darksalmon;">
     </td>
     <td>
      darksalmon
     </td>
     <td>
      #E9967A
     </td>
     <td>
      rgb(233,150,122)
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td style="background:lightcoral;">
     </td>
     <td>
      lightcoral
     </td>
     <td>
      #F08080
     </td>
     <td>
      rgb(240,128,128)
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td style="background:coral;">
     </td>
     <td>
      coral
     </td>
     <td>
      #FF7F50
     </td>
     <td>
      rgb(255,127,80)
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td style="background:tomato;">
     </td>
     <td>
      tomato
     </td>
     <td>
      #FF6347
     </td>
     <td>
      rgb(255,99,71)
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td style="background:orangered;">
     </td>
     <td>
      orangered
     </td>
     <td>
      #FF4500
     </td>
     <td>
      rgb(255,69,0)
     </td>
    </tr>
    <tr>
     <td>
      8
     </td>
     <td style="background:gold;">
     </td>
     <td>
      gold
     </td>
     <td>
      #FFD700
     </td>
     <td>
      rgb(255,215,0)
     </td>
    </tr>
    <tr>
     <td>
      9
     </td>
     <td style="background:orange;">
     </td>
     <td>
      orange
     </td>
     <td>
      #FFA500
     </td>
     <td>
      rgb(255,165,0)
     </td>
    </tr>
    <tr>
     <td>
      10
     </td>
     <td style="background:darkorange;">
     </td>
     <td>
      darkorange
     </td>
     <td>
      #FF8C00
     </td>
     <td>
      rgb(255,140,0)
     </td>
    </tr>
    <tr>
     <td>
      11
     </td>
     <td style="background:lightyellow;">
     </td>
     <td>
      lightyellow
     </td>
     <td>
      #FFFFE0
     </td>
     <td>
      rgb(255,255,224)
     </td>
    </tr>
    <tr>
     <td>
      12
     </td>
     <td style="background:lemonchiffon;">
     </td>
     <td>
      lemonchiffon
     </td>
     <td>
      #FFFACD
     </td>
     <td>
      rgb(255,250,205)
     </td>
    </tr>
    <tr>
     <td>
      13
     </td>
     <td style="background:papayawhip;">
     </td>
     <td>
      papayawhip
     </td>
     <td>
      #FFEFD5
     </td>
     <td>
      rgb(255,239,213)
     </td>
    </tr>
    <tr>
     <td>
      14
     </td>
     <td style="background:moccasin;">
     </td>
     <td>
      moccasin
     </td>
     <td>
      #FFE4B5
     </td>
     <td>
      rgb(255,228,181)
     </td>
    </tr>
    <tr>
     <td>
      15
     </td>
     <td style="background:peachpuff;">
     </td>
     <td>
      peachpuff
     </td>
     <td>
      #FFDAB9
     </td>
     <td>
      rgb(255,218,185)
     </td>
    </tr>
    <tr>
     <td>
      16
     </td>
     <td style="background:palegoldenrod;">
     </td>
     <td>
      palegoldenrod
     </td>
     <td>
      #EEE8AA
     </td>
     <td>
      rgb(238,232,170)
     </td>
    </tr>
    <tr>
     <td>
      17
     </td>
     <td style="background:khaki;">
     </td>
     <td>
      khaki
     </td>
     <td>
      #F0E68C
     </td>
     <td>
      rgb(240,230,140)
     </td>
    </tr>
    <tr>
     <td>
      18
     </td>
     <td style="background:darkkhaki;">
     </td>
     <td>
      darkkhaki
     </td>
     <td>
      #BDB76B
     </td>
     <td>
      rgb(189,183,107)
     </td>
    </tr>
    <tr>
     <td>
      19
     </td>
     <td style="background:yellow;">
     </td>
     <td>
      yellow
     </td>
     <td>
      #FFFF00
     </td>
     <td>
      rgb(255,255,0)
     </td>
    </tr>
    <tr>
     <td>
      20
     </td>
     <td style="background:lawngreen;">
     </td>
     <td>
      lawngreen
     </td>
     <td>
      #7CFC00
     </td>
     <td>
      rgb(124,252,0)
     </td>
    </tr>
    <tr>
     <td>
      21
     </td>
     <td style="background:chartreuse;">
     </td>
     <td>
      chartreuse
     </td>
     <td>
      #7FFF00
     </td>
     <td>
      rgb(127,255,0)
     </td>
    </tr>
    <tr>
     <td>
      22
     </td>
     <td style="background:limegreen;">
     </td>
     <td>
      limegreen
     </td>
     <td>
      #32CD32
     </td>
     <td>
      rgb(50,205,50)
     </td>
    </tr>
    <tr>
     <td>
      23
     </td>
     <td style="background:lime;">
     </td>
     <td>
      lime
     </td>
     <td>
      #00FF00
     </td>
     <td>
      rgb(0.255.0)
     </td>
    </tr>
    <tr>
     <td>
      24
     </td>
     <td style="background:forestgreen;">
     </td>
     <td>
      forestgreen
     </td>
     <td>
      #228B22
     </td>
     <td>
      rgb(34,139,34)
     </td>
    </tr>
    <tr>
     <td>
      25
     </td>
     <td style="background:green;">
     </td>
     <td>
      green
     </td>
     <td>
      #008000
     </td>
     <td>
      rgb(0,128,0)
     </td>
    </tr>
    <tr>
     <td>
      26
     </td>
     <td style="background:powderblue;">
     </td>
     <td>
      powderblue
     </td>
     <td>
      #B0E0E6
     </td>
     <td>
      rgb(176,224,230)
     </td>
    </tr>
    <tr>
     <td>
      27
     </td>
     <td style="background:lightblue;">
     </td>
     <td>
      lightblue
     </td>
     <td>
      #ADD8E6
     </td>
     <td>
      rgb(173,216,230)
     </td>
    </tr>
    <tr>
     <td>
      28
     </td>
     <td style="background:lightskyblue;">
     </td>
     <td>
      lightskyblue
     </td>
     <td>
      #87CEFA
     </td>
     <td>
      rgb(135,206,250)
     </td>
    </tr>
    <tr>
     <td>
      29
     </td>
     <td style="background:skyblue;">
     </td>
     <td>
      skyblue
     </td>
     <td>
      #87CEEB
     </td>
     <td>
      rgb(135,206,235)
     </td>
    </tr>
    <tr>
     <td>
      30
     </td>
     <td style="background:deepskyblue;">
     </td>
     <td>
      deepskyblue
     </td>
     <td>
      #00BFFF
     </td>
     <td>
      rgb(0,191,255)
     </td>
    </tr>
    <tr>
     <td>
      31
     </td>
     <td style="background:lightsteelblue;">
     </td>
     <td>
      lightsteelblue
     </td>
     <td>
      #B0C4DE
     </td>
     <td>
      rgb(176,196,222)
     </td>
    </tr>
    <tr>
     <td>
      32
     </td>
     <td style="background:dodgerblue;">
     </td>
     <td>
      dodgerblue
     </td>
     <td>
      #1E90FF
     </td>
     <td>
      rgb(30,144,255)
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>

In [52]:
# find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

In [53]:
# Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
                                 # Get all columns in each row.
    cols = row.find_all('td')    # in html a column is represented by the tag <td>
    color_name = cols[2].string  # store the value in column 3 as color_name
    color_code = cols[3].string  # store the value in column 4 as color_code
    print("{}--->{}".format(color_name, color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF